@keyframes animo {
    from {width: 0;}
    to {width: 3.4rem;}
   
}

.juliusomo {
    visibility: hidden;
    animation-name: animo;
    animation-delay: .6s;
    animation-duration: .7s;
}

.amyrobson {
    visibility: hidden;
    animation-name: animo;
    animation-delay: .8s;
    animation-duration: .7s;
}

.maxblagun {
    visibility: hidden;
    animation-name: animo;
    animation-delay: 1s;
    animation-duration: .7s;
}

.ramsesmiron {
    visibility: hidden;
    animation-name: animo;
    animation-delay: 1.2s;
    animation-duration: .7s;
}