@import url(reset.css);
@import url(FM_part.css);


:root {
    /* colors */
    /* primary*/
    --clr-moderate-blue: hsl(238, 40%, 52%);
    --clr-soft-red: hsl(358, 79%, 66%);
    --clr-light-grayish-blue: hsl(239, 57%, 85%);
    --clr-pale-red: hsl(357, 100%, 86%);

     /* neutral */
     --clr-dark-blue: hsl(212, 24%, 26%);
     --clr-grayish-blue: hsl(211, 10%, 45%);
     --clr-light-gray: hsl(223, 19%, 93%);
     --clr-very-light-gray: hsl(228, 33%, 97%);
     --clr-white: hsl(0, 0%, 100%);
  
    /* typography */
    /* fonts */
    --ff-primary: 'Rubik', sans-serif;
    --fw-400: 400; /* base */
    --fw-500: 500; 
    --fw-700: 700; 
    --fs-16: 1rem; /* 16px base */
}


html {
    height: 100%;
}

body {
    min-height: 100%;
}

p {
    line-height: 1.5;
}


body {
    display: flex;
    justify-content: center;
    font-family: var(--ff-primary);
    font-size: var(--fs-16);
    font-weight: var(--fw-400);
    background-color: var(--clr-very-light-gray);
}

/*---------------------Mobile layout-------------------------*/
.grid_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'header'
        'main'
        'attribution';
    gap: 1rem;
    justify-items: center;
    align-content: start;
    /*border: 2px solid green;*/
}

/* style 1st component - mobile */
.header {
    display: inline-flex;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-very-light-gray);
    /*border: 2px solid green;*/
}

.header__image {
    margin: .5rem 0 .3rem 0;
    width: 3.6rem;
    padding: .2rem;
}
.owner {
    opacity: .6;
}

.userstyle {
    border-radius: 50% !important;
    border: 3.5px solid var(--clr-moderate-blue) !important;
    opacity: 1 !important;
}

.newuserstyle {
    border-radius: 50%;
    border: 3.5px solid var(--clr-moderate-blue);
    opacity: 1;
}

/* style 2nd component - mobile */
.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'main_title'
        'main_comments';
    margin: 4rem 0 0 0;
}

.main_title {
    display: none;
}

.main_comments {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'main_comments-replies-section'
        'main_respond';
    gap: 1.5rem;
    justify-items: center;
    justify-self: center;
    /*border: 2px solid blue;*/
}

.main_comments-replies-section {
    min-width: 17rem;
    margin: 0 1rem;
    /*border: 2px solid orange;*/
}

.wrapper__comment {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'comment'
        'reply_owner';
    border: 2px solid transparent;    
}

/*--comment--*/
.comment {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-areas:
        'comment_header comment_header'
        'comment_content comment_content'
        '. comment_update'
        'comment_vote comment_editor';
    gap: 1rem;
    padding: 1rem;
    align-content: center;
    justify-items: start;
    /*width: 100%;*/
    background-color: var(--clr-white);
    border-radius: .8rem;
    /*border: 2px solid green;*/
}

.comment_header {
    display: grid;
    grid-template-columns: 1fr minmax(10rem, 20rem);
    grid-template-areas:
        'comment_header-picture comment_header-container';
    gap: .5rem;
    align-items: center;
    /*border: 2px solid green;*/
}

.comment_header-picture{
    width: 3.2rem;
    /*border: 2px solid green;*/
}

.comment_header-container {
    display: inline-flex;
    flex-wrap: wrap;
    /*border: 2px solid green;*/
}

.comment_header-name {
    font-weight: var(--fw-500);
    margin: 0 .5rem 0 0;
}

.comment_header-owner {
    background-color: var(--clr-moderate-blue);
    color: var(--clr-white);
    font-weight: var(--fw-500);
    padding: 0 .4rem;
    margin: 0 .5rem 0 0;
}

.comment_header-time {
    color: var(--clr-grayish-blue);
    font-weight: var(--fw-500);
}

.comment_content {
    color: var(--clr-grayish-blue);
    /*border: 2px solid green;*/
}

.comment_update {
    cursor: pointer;
    width: 6rem;
    padding: .6rem .4rem;
    border-radius: .4rem;
    border: none;
    text-transform: uppercase;
    font-weight: var(--fw-500);
    color: var(--clr-white);
    background-color: var(--clr-moderate-blue);
    justify-self: end;
    display: none;
}

.comment_vote {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    gap: 1rem;
    padding: 0 .6rem;
    height: 2.5rem;
    background-color: var(--clr-very-light-gray);
    border-radius: .4rem;
    /*border: 2px solid green;*/
}

.comment_vote-plus:hover .plus {
    cursor: pointer;
    fill: hsl(238, 40%, 52%);
}

.comment_vote-content {
    font-weight: var(--fw-500);
    color: hsl(238, 40%, 52%);
}

.comment_vote-minus:hover .minus {
    cursor: pointer;
    fill: hsl(238, 40%, 52%);
}

.comment_editor {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-areas:
        'comment_delete comment_edit comment_reply';
    gap: 1rem;
    height: 2.5rem;
    justify-self: end;
    align-items: center;
    /*border: 2px solid green;*/
}

.comment_delete {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: var(--clr-soft-red);
    font-weight: var(--fw-500);
    gap: .3rem;
}

.comment_edit {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-weight: var(--fw-500);
    color: var(--clr-moderate-blue);
    gap: .3rem;
}

.comment_reply {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-weight: var(--fw-500);
    color: var(--clr-moderate-blue);
    gap: .3rem;
}


/*--reply--*/
/*
.replies {
    justify-items: end;
    float: right;
    border-width: 2px;
    border-color: hsl(223, 19%, 93%);
    border-style: none none none solid;
    /*border: 2px solid green;*/
/*}*/


.wrapper__reply {
    justify-items: end;
    float: right;
    border-width: 2px;
    border-color: hsl(223, 19%, 93%);
    border-style: none none none solid;
    /*border: 2px solid red;*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'reply'
        'reply_owner';
}

.reply {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-areas:
        'reply_header reply_header'
        'reply_content reply_content'
        '. reply_update'
        'reply_vote reply_editor';
    gap: 1rem;
    padding: 1rem;
    align-content: center;
    justify-items: start;
    float: right;
    width: 93%;
    background-color: var(--clr-white);
    border-radius: .8rem;
    /*border: 2px solid red;*/
}

.reply_header {
    display: grid;
    grid-template-columns: 1fr minmax(10rem, 20rem);
    grid-template-areas:
        'reply_header-picture reply_header-container';
    gap: .5rem;
    align-items: center;
    /*border: 2px solid green;*/
}

.reply_header-picture {
    width: 3.2rem;
    /*border: 2px solid green;*/
}

.reply_header-container {
    display: inline-flex;
    flex-wrap: wrap;
    /*border: 2px solid green;*/
}

.reply_header-name {
    font-weight: var(--fw-500);
    margin: 0 .5rem 0 0;
}

.reply_header-owner {
    background-color: var(--clr-moderate-blue);
    color: var(--clr-white);
    font-weight: var(--fw-500);
    padding: 0 .4rem;
    margin: 0 .5rem 0 0;
    /*display: none;*/
}

.reply_header-time {
    color: var(--clr-grayish-blue);
    font-weight: var(--fw-500);
}
.reply_content {
    cursor: pointer;
    color: var(--clr-grayish-blue);
    /*border: 2px solid green;*/
}

.replyingTo {
    color: var(--clr-moderate-blue);
}

.reply_update {
    cursor: pointer;
    width: 6rem;
    padding: .5rem .2rem;
    border-radius: .4rem;
    border: none;
    text-transform: uppercase;
    font-weight: var(--fw-500);
    color: var(--clr-white);
    background-color: var(--clr-moderate-blue);
    justify-self: end;
    display: none;
}

.reply_vote {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    gap: 1rem;
    padding: 0 .6rem;
    height: 2.5rem;
    background-color: var(--clr-very-light-gray);
    border-radius: .4rem;
    /*border: 2px solid green;*/
}

.reply_vote-plus:hover .plus {
    cursor: pointer;
    fill: hsl(238, 40%, 52%);
}

.reply_vote-content {
    font-weight: var(--fw-500);
    color: hsl(238, 40%, 52%);
}

.reply_vote-minus:hover .minus {
    cursor: pointer;
    fill: hsl(238, 40%, 52%);
}

.reply_editor {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-areas:
        'reply_delete reply_edit reply_reply';
    gap: 1rem;
    height: 2.5rem;
    justify-self: end;
    align-items: center;
    /*border: 2px solid green;*/
}

.reply_delete {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: var(--clr-soft-red);
    font-weight: var(--fw-500);
    gap: .3rem;
    /*display: none;*/
}

.reply_edit {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-weight: var(--fw-500);
    color: var(--clr-moderate-blue);
    gap: .3rem;
    /*display: none;*/
}

.reply_reply {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-weight: var(--fw-500);
    color: var(--clr-moderate-blue);
    gap: .3rem;
    /*display: none;*/
}
/*
.reply_container {
    display: grid;
    grid-template-columns: 1f;
    grid-template-areas:
        'reply_owner';
    justify-items: end;
    border-width: 2px;
    border-color: hsl(223, 19%, 93%);
    border-style: none none none solid;
}*/

.hide {
    display: none !important;
}

.show {
    display: block !important;
}
/*
.new {
    display: none;
}*/

.reply_owner {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-areas:
        'reply_owner-content reply_owner-content'
        'picture_owner reply_btn';
    gap: 1rem;
    padding: 1rem;
    float: right;
    margin: 0 0 1rem 0;
    width: 19.5rem;
    background-color: var(--clr-white);
    border-radius: .8rem;
    /*border: 2px solid red;*/
}

.reply_owner-content {
    cursor: pointer;
    padding: 1rem;
    border-radius: .4rem;
    overflow-y: scroll;
    color: var(--clr-dark-blue);
    border-color: var(--clr-light-gray);
}

.picture_owner {
    width: 3.2rem;
}

.reply_btn {
    cursor: pointer;
    width: 5rem;
    height: 2.6rem;
    padding: .6rem .4rem;
    border-radius: .4rem;
    border: none;
    text-transform: uppercase;
    font-weight: var(--fw-500);
    color: var(--clr-white);
    background-color: var(--clr-moderate-blue);
}

.main_respond {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-areas:
        'main_respond-content main_respond-content'
        'main_respond-picture send';
    gap: 1rem;
    justify-self: center;
    padding: 1rem;
    width: 93%;
    background-color: var(--clr-white);
    border-radius: .8rem;
}

.main_respond-content {
    cursor: pointer;
    padding: 1rem;
    border-radius: .4rem;
    overflow-y: scroll;
    width: 93%;
    color: var(--clr-dark-blue);
    border-color: var(--clr-light-gray);
}

.main_respond-picture {
    width: 3.2rem;
}

#send {
    cursor: pointer;
    width: 5rem;
    height: 2.6rem;
    padding: .6rem .4rem;
    border-radius: .4rem;
    border: none;
    text-transform: uppercase;
    font-weight: var(--fw-500);
    color: var(--clr-white);
    background-color: var(--clr-moderate-blue);
}

/*---------------------Desktop layout-------------------------*/
@media screen and (min-width: 48rem) {

* {
    display: none;
}
/* style 1st component - desktop */


/*style 2nd component - desktop */
.comment {
    grid-template-columns: 3fr;
    grid-template-areas:
        'comment_vote comment_header comment_editor'
        'comment_vote comment_content comment_content'
        '. . comment_update';
    width: 43rem;
    gap: 1rem;
}

.comment_update:hover {
    opacity: .5;
}

.comment_vote {
    display: grid;
    width: 2.4rem;
    height: 6rem;
    align-content: center;
    place-items: center;
    gap: .2rem;
    /*border: 2px solid green;*/
}

.comment_vote-plus {
    padding: .2rem .5rem;
}

.comment_vote-minus {
    padding: .2rem .5rem;
}

.comment_editor {
    height: 3.2rem;
}

.comment_delete:hover {
    opacity: .5;
}

.comment_edit:hover {
    opacity: .5;
}

.comment_reply:hover {
    opacity: .5;
}

.replies {
    width: 41rem;
    /*border: 2px solid green;*/
}

.reply {
    grid-template-columns: 3fr;
    grid-template-areas:
        'reply_vote reply_header reply_editor'
        'reply_vote reply_content reply_content'
        '. . reply_update';
    gap: .6rem;
    width: 95%;
    margin: 0 -1rem 0 0;
}

.reply_update:hover {
    opacity: .5;
}

.reply_vote {
    display: grid;
    width: 2.4rem;
    height: 6rem;
    align-content: center;
    place-items: center;
    gap: .2rem;
    /*border: 2px solid green;*/
}

.reply_vote-plus {
    padding: .2rem .5rem;
}

.reply_vote-minus {
    padding: .2rem .5rem;
}

.reply_editor {
    height: 3.2rem;
}

.reply_delete:hover {
    opacity: .5;
}

.reply_edit:hover {
    opacity: .5;
}

.reply_reply:hover {
    opacity: .5;
}

.reply_owner {
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
       'picture_owner reply_owner-content reply_owner-content reply_owner-content reply_owner-content reply_owner-content reply_owner-content reply_btn';
    gap: .6rem;
    width: 95%;
    margin: 0 -1rem 0 0;
}

.reply_owner-content:hover {
    border: 2px solid var(--clr-dark-blue);
}

.reply_btn:hover {
    opacity: .5;
}
/*
.main_respond {
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
        'main_respond-picture main_respond-content main_respond-content main_respond-content main_respond-content main_respond-content main_respond-content send';
    width: 43rem;
    gap: .6rem;
    justify-items: center;
}*/

.main_respond-content:hover {
    border: 2px solid var(--clr-dark-blue);
}

.send:hover {
    opacity: .5;
}

}

/*------------------grid area names---------------------------*/

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.main_title {
    grid-area: main_title;
}

.main_comments {
    grid-area: main_comments;
}

.main_comments-replies-section {
    grid-area: main_comments-replies-section;
}

.wrapper__comment {
    grid-area: wrapper__comment;
}

.main_comment-reply-group {
    grid-area: main_comment-reply-group;
}

.comment {
    grid-area: comment;
}

.comment_header {
    grid-area: comment_header;
}

.comment_header-picture {
    grid-area: comment_header-picture;
}

.comment_header-container {
    grid-area: comment_header-container;
}

.comment_content {
    grid-area: comment_content;
}

.comment_update {
    grid-area: comment_update;
}

.comment_vote {
    grid-area: comment_vote;
}

.comment_reply {
    grid-area: comment_reply;
}

.comment_delete {
    grid-area: comment_delete;
}

.comment_edit {
    grid-area: comment_edit;
}

.comment_editor {
    grid-area: comment_editor;
}

.replies {
    grid-area: replies;
}

.reply {
    grid-area: reply;
}

.reply_header {
    grid-area: reply_header;
}

.reply_content {
    grid-area: reply_content;
}

.reply_update {
    grid-area: reply_update;
}

.reply_vote {
    grid-area: reply_vote;
}

.reply_editor {
    grid-area: reply_editor;
}

.reply_delete {
    grid-area: reply_delete;
}

.reply_edit {
    grid-area: reply_edit;
}

.reply_reply {
    grid-area: reply_reply;
}

/*
.reply_container {
    grid-area: reply_container;
}*/

.reply_owner {
    grid-area: reply_owner;
}

.picture_owner {
    grid-area: picture_owner;
}

.reply_owner-content {
    grid-area: reply_owner-content;
}

.reply_btn {
    grid-area: reply_btn;
}

.main_respond {
    grid-area: main_respond;
}

.main_respond-content {
    grid-area: main_respond-content;
}

.main_respond-picture {
    grid-area: main_respond-picture;
}

.send {
    grid-area: send;
}

.attribution {
    grid-area: attribution;
}